<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <div class="center">
            <mat-card class="card" style="background-color: #d3ccc5;">
                <b style="font-size: small;">We're dedicated to delivering the best possible Recipes to our users, please
                contact us for any questions or feeback.</b>
                <span><i class="fa fa-phone" aria-hidden="true"></i><b style="font-size: small;"> : +65 91451064</b></span>
                <span><i class="fa fa-envelope" aria-hidden="true"></i><b style="font-size: small;"> : pafcsf@gmail.com</b></span>
                <span><i class="fa fa-map-marker" aria-hidden="true"></i><b style="font-size: small;">   : 90 Hougang Ave 10, S538766</b></span>
                &nbsp;
                <google-map [width]="365" [height]="400" [options]="mapOptions">
                    <map-marker [position]="marker.position"></map-marker>
                </google-map>
                <mat-card-actions class="absolute">
                    <div class="socil_item_inner d-flex">
                        <li><a><i class="fab fa-facebook-square"></i></a></li>
                        <li><a><i class="fab fa-instagram"></i></a></li>
                        <li><a><i class="fab fa-twitter"></i></a></li>
                     </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </body>
</html>

