<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js" 
    integrity="sha512-EKWWs1ZcA2ZY9lbLISPz8aGR2+L7JVYqBAYTq5AXgBkSjRSuQEGqWx8R1zAX16KdXPaCjOCaKE8MCpU0wcHlHA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" 
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/all.css">
    <title>Recipe Details</title>
</head>
<body>
    <div data-th-replace="nav.html"></div>
    <div class="container my-4" style="color: rgb(84, 12, 24); font-weight: bold;">
        <div data-th-if="${recipe}">
          </br><center><h1 data-th-text="${recipe.name}" style="font-weight: bolder;"></h1></center></br>
             <div class="row mt-4 mx-auto">
                <div class="col-sm">
                    <img data-th-src="${recipe.imageUrl}" class="img-thumbnail" style="width:320px;height:320px">
                </div>
                <div class="col-sm-8">
                    <table style="width:50%">
                        <tr>
                          <th>Ingredients:</th>
                          <th>Required Amount:</th>
                        </tr>
                        <tr>
                          <td><li data-th-each="r, iterStat : ${recipe.ingredient}"><span data-th-text="${r}"></span></td>
                          <td><li data-th-each="m, iterStat : ${recipe.measure}" style="list-style-type: none;"><span data-th-text="${m}"></span></td>
                        </tr>
                    </table>
                </div>
             </div>
             </br>   
            <div class="row mx-auto">
                <p>Instructions:</p>
                <p data-th-text="${recipe.instructions}"></p>
                <p>Category: <span data-th-text="${recipe.category}"></span></p>        
                <p>Type of Cuisine: <span data-th-text="${recipe.area}"></span></p>
                <p>Source: <a data-th-href="${recipe.sourceUrl}" target="_blank">Click Here</a></p> 
                <form method="post" action="/addToFav">
                    <div class="input-group mb-3">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2"
                            data-th-value="${recipe.id}" name="id">Add to Favourites</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>